// Colors
$primary-color: #054a79;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$background-color: #595b63;
// $background-color: rgb(39, 39, 39);
$text-color: #2c3e50;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;